services:
  traefik:
    image: traefik:v3.6.2
    container_name: traefik
    restart: unless-stopped
    command:
      - --log.level=DEBUG
      - --accesslog=true

      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443

      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https

      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.file.directory=/etc/traefik/dynamic
      - --providers.file.watch=true

      - --api.dashboard=true
      - --api.insecure=false

      - --entrypoints.traefikdash.address=:8080
    networks:
      - edge
    ports:
      - "80:80"
      - "443:443"
      - "127.0.0.1:8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./certs:/certs:ro
      - ./dynamic:/etc/traefik/dynamic:ro
      - ./traefik/usersfile:/usersfile:ro
    labels:
      - traefik.enable=true
      - traefik.http.middlewares.traefik-auth.basicauth.usersfile=/usersfile

      # Router del dashboard
      - "traefik.http.routers.traefik_dash.rule=PathPrefix(`/dashboard`) || PathPrefix(`/api`)"
      - traefik.http.routers.traefik_dash.entrypoints=traefikdash
      - traefik.http.routers.traefik_dash.service=api@internal
      - traefik.http.routers.traefik_dash.middlewares=traefik-auth

networks:
  edge:
    external: true
    name: ${EDGE_NETWORK:-edge}
